node_modules/
.env
.env.*
logs/
uploads/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Logs and debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Temporary Test Scripts
test*.js
*Test*.js
*test*.js
check*.js
*check*.js
